*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul, nav{
    list-style: none;
}
body{
    /*font: normal 16px "Open Sans", sans-serif;*/
    font: normal 16px "Lato", Arial, sans-serif;
    color:#555;
    text-align: center;
}
a{
    text-decoration:
     none;
    color:inherit;
    cursor:pointer;
    opacity: 0.6;
}
a:hover{
    opacity: 1;
}
hr{
    width:150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin: 40px auto;
}
section{
    background-color: #fff;
    padding: 125px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
section p{
    max-width: 800px;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;    
    color: #141938;
    font-family: "Lato", Arial, sans-serif;
}

section h3{
    color: #141938;
    text-transform: capitalize;
    font: 32px;
    font-weight: 900;
    font-family: "Lato", Arial, sans-serif;
    margin-bottom: 35px;
}

img {
    background-color: #fff;
}


@media(max-width: 1000px){
    section{
        padding:100px 50px;
    }
}

@media(max-width: 600px){
    section{
        padding:80px 30px;
    }
}

.smallerheadline{
    font-size:  75%;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------
HEADER
---------------*/
header{
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    align-items: center;
    color: #ef3340;
    padding: 35px 100px 20px;
    display:flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
}

header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

header h2{
    font-family: 'Open Sans', serif;
}

header a{
    opacity: 1;
}
header a:hover{
    font-weight: bold;
}

.round{
    border: 6px solid #2196F3;
    border-radius: 50%;
}

@media(max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}

@media(max-width: 700px){
    header{
        font-size: 100%;
        flex-direction: column;
    }
    header nav li{
        margin: 0 5px;
    }
    header h2{
        margin-bottom: 15px;
    }
}
/*--------------
INCIO
---------------*/
.inicio{
    background-color: transparent;
    position:relative;
    justify-content: center;
    min-height: 100vh;
    color:#fff;
    text-align: center;
}

.inicio .background-image{
    background: url('images/intro.jpg');
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-color: #ef3340;
}

.inicio .background-image:after{
    content: '';
    position:fixed;
    top:0;
    left: 0;
     width: 100%;
    height: 100%;
    background-color: #414A4F;
    opacity: 0.75;
}

.inicio h1{
    /*font: bold 60px 'Henny Penny', serif;*/
    font: bold 60px "Lato", Arial, sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px #000;
    margin-bottom: 15px;
}

.inicio h3{
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
    color:aliceblue;
}

@media(max-width: 800px){
    .inicio{
        min-height: 600px;
    }
    .inicio h1{
        font-size: 48px;
    }
    .inicio h3{
        font-size: 24px;
    }
    .inicio .background-image{    
        background-color: #ef3340 !important;
        background: url('images/intro-small.jpg') center no-repeat;
    }
    
}
/*--------------
SEGUROS
---------------*/
.seguros{
    background-color: #EDEFFC;
}

.seguros .grid li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.seguros .grid li h4 {
    /*color: #2196F3;*/
    color: #101249;
    font-size: 20px;
    margin-bottom: 25px;
}


.seguros .grid li p {
    margin: 0;
}

@media (max-width: 1000px){
    .seguros .grid li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    
    .seguros .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .seguros .grid li{
        flex-basis: 100%;
    }
}
/*--------------
PROMOCIONES
---------------*/
.promociones{
    background-color: #6464FA;
    color: #fff;
}

.promociones h3{
    color: #fff;
}

.promociones .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    
    background-clip: content-box;
    background-size:cover;
    background-position: center;
    background-color: #333;
}

.promociones .grid li.small{
    flex-basis: 40%;
}

.promociones .grid li.large{
    flex-basis: 60%;
}

.promo-01{
    background-image: url(images/promo-01.jpg);
}
.promo-02{
    background-image: url(images/promo-02.jpg);
}
.promo-03{
    background-image: url(images/promo-03.jpg);
}
.promo-04{
    background-image: url(images/promo-04.jpg);
}

@media (max-width: 1000px){
    .promociones .grid li.small, .promociones .grid li.large{
      flex-basis: 100%;  
    }  

}
/*--------------
SERVICIOS
---------------*/
.servicios {
    background-color: #EDEFFC;
}
.servicios a{
    opacity: 1;
}
.servicios a:hover{
    font-weight: bold;
}
.servicios li{    
    border-radius: 25px;
    padding: 48px 48px 96px 48px;
    margin-bottom: 24px;
    background-color: #fff;
    box-shadow: 0px 8px 24px rgb(174 172 243 / 40%);
}
/*--------------
CONTACTO
---------------*/

.contacto{
    background-color: #6464FA;
    margin-top: 0;
    color: #fff;
}

.contacto p{
    text-align: left;
    color: #fff;
}

.contacto h3{    
    color: #fff;
}

.contacto .song{
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 20px;
    padding: 0;
}
/*--------------
FOOTER
---------------*/

footer{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color: #a9b1d1;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

footer ul{
    display:flex;
    margin-bottom: 25px;
    font-size: 32px;
}

footer ul li{
    margin: 0 8px;
}

footer ul li:first-child{
    margin-left: 0;
}

footer ul li:last-child{
    margin-right: 0;
}

footer p{
    font-size: 14px;
    color: #a9b1d1;
    margin-bottom: 10px;
}

footer p a{
    color: #fff;
}

footer .copy-right{
    display: flex;
}

footer .copy-right-text{
    padding-top: 3px;
}

footer .logo{
    margin-right: 20px;
}

@media (max-width: 700px){
    footer{
        padding: 80px 15px;
    }
}

